.meals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 10em;
  list-style: none;
}

.sort{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 10px;
}

.label{
  font-size: 1.6rem;
  margin-right: 1em;

}

.select{
 padding: 0.25em;
 font-size: 1.4rem;
 border-radius: 8px;
}

.select:focus, .select:hover{
    outline: 1px solid #db9224;
  border-color: #db9224;
}

option{
  font-size: 1.4rem;
}
